body{
  background-color: #f4f4f4;
  color: #555;
  font-family: Georgia, Garamond, Times;
  font-size: 1.0em;
  line-height: 1.6em;
  margin-right: 2.5%;
  margin-left: 2.5%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding-top: 2px;
  /* border: 1px solid blue; */
}
.headname{
  padding-left: 8.33%;
}
.menu{
  padding-left: 8.33%;
}
.menu ul{
  padding: 0;
  list-style: none;
}
.menu li{
  display: inline;
}
.menu a{
  color: #000000;
  text-decoration: none;
  font-size: 20px;
  padding-right: 10px;
}
.icon{
  box-sizing: border-box;
  margin-top: 30px;
  padding-left: 8.33%;
}
.icon img{
  max-width: 70%;
  display: block;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
h3.name{
  text-align: center;
  /* border: 1px solid blue; */
}
p.position{
  text-align: center;
  /* border: 1px solid blue; */
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  /* height: 50px; */
  grid-gap: 5px;
  /* padding: 5px; */
}
.grid-container p{
  /* background-color: rgba(255, 255, 255, 0.8); */
  text-align: left;
  /* padding: 20px 0; */
}
.p img{
  text-align: right;
}
.research_1{
  box-sizing: border-box;
  margin-top: 10px;
  padding-left: 8.33%;
}
.research_1 img{
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
}

#main-footer{
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 900px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
